<!-- start tag arrows -->
<div id="arrows">
    <img src="/img/angle-pointing-to-left.png" alt="" class="arrow arrow_left">
    <img src="/img/angle-arrow-pointing-to-right.png" alt="" class="arrow arrow_right">
</div> 
<!-- end tag arrows -->