<!-- start notification pop up -->

<div class="notification_pop_up">
    <div class="notification_setting">
        <p>Notifications</p>
        <img src="/img/settings.png" alt="" class="setting_icon">
    </div>
    <div class="notifications">
        <div class="notification">
                <div class="notification_profile">
                    <img src="/img/art-2472892__340.webp" alt="">
                </div>
                <div class="notification_title">
                   <p class="first"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, id corrupti illo quidem </p>
                    <p class="second">2 hours ago</p>
                </div>
                <div class="notification_thumbnail">
                    <img src="/img/background-618226__340.webp" alt="">
                </div>
                <div class="notification_icon">
                    <img src="/img/vertical-ellipsis.png" alt="">

                </div>
                <div class="noticication_setup">
                    <div class="hide">
                        <img src="/img/eye-with-a-diagonal-line-interface-symbol-for-invisibility.png" alt="">
                        <p>Hide this notification</p>
                    </div>
                    <div class="off">
                        <p>Turn off all from everyday astronaut</p>
                    </div>
                </div>
        </div>

        <div class="notification">
            <div class="notification_profile">
                <img src="/img/art-2472892__340.webp" alt="">
            </div>
            <div class="notification_title">
               <p class="first"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, id corrupti illo quidem </p>
                <p class="second">2 hours ago</p>
            </div>
            <div class="notification_thumbnail">
                <img src="/img/background-618226__340.webp" alt="">
            </div>
            <div class="notification_icon">
                <img src="/img/vertical-ellipsis.png" alt="">
            </div>
        </div>

        <div class="notification">
            <div class="notification_profile">
                <img src="/img/art-2472892__340.webp" alt="">
            </div>
            <div class="notification_title">
               <p class="first"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, id corrupti illo quidem </p>
                <p class="second">2 hours ago</p>
            </div>
            <div class="notification_thumbnail">
                <img src="/img/background-618226__340.webp" alt="">
            </div>
            <div class="notification_icon">
                <img src="/img/vertical-ellipsis.png" alt="">
            </div>
        </div>

        <div class="notification">
        <div class="notification_profile">
            <img src="/img/art-2472892__340.webp" alt="">
        </div>
        <div class="notification_title">
           <p class="first"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, id corrupti illo quidem </p>
            <p class="second">2 hours ago</p>
        </div>
        <div class="notification_thumbnail">
            <img src="/img/background-618226__340.webp" alt="">
        </div>
        <div class="notification_icon">
            <img src="/img/vertical-ellipsis.png" alt="">
        </div>
        </div>

        <div class="notification">
            <div class="notification_profile">
                <img src="/img/art-2472892__340.webp" alt="">
            </div>
            <div class="notification_title">
               <p class="first"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, id corrupti illo quidem </p>
                <p class="second">2 hours ago</p>
            </div>
            <div class="notification_thumbnail">
                <img src="/img/background-618226__340.webp" alt="">
            </div>
            <div class="notification_icon">
                <img src="/img/vertical-ellipsis.png" alt="">
            </div>
        </div>

        <div class="notification">
        <div class="notification_profile">
            <img src="/img/art-2472892__340.webp" alt="">
        </div>
        <div class="notification_title">
           <p class="first"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, id corrupti illo quidem </p>
            <p class="second">2 hours ago</p>
        </div>
        <div class="notification_thumbnail">
            <img src="/img/background-618226__340.webp" alt="">
        </div>
        <div class="notification_icon">
            <img src="/img/vertical-ellipsis.png" alt="">
        </div>
        </div>

        <div class="notification">
        <div class="notification_profile">
            <img src="/img/art-2472892__340.webp" alt="">
        </div>
        <div class="notification_title">
           <p class="first"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, id corrupti illo quidem </p>
            <p class="second">2 hours ago</p>
        </div>
        <div class="notification_thumbnail">
            <img src="/img/background-618226__340.webp" alt="">
        </div>
        <div class="notification_icon">
            <img src="/img/vertical-ellipsis.png" alt="">
        </div>
        </div>

        <div class="notification">
    <div class="notification_profile">
        <img src="/img/art-2472892__340.webp" alt="">
    </div>
    <div class="notification_title">
       <p class="first"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, id corrupti illo quidem </p>
        <p class="second">2 hours ago</p>
    </div>
    <div class="notification_thumbnail">
        <img src="/img/background-618226__340.webp" alt="">
    </div>
    <div class="notification_icon">
        <img src="/img/vertical-ellipsis.png" alt="">
    </div>
        </div>
    </div>
</div>


<!-- end notification pop_up -->