<!-- start playlist popup -->
<div class="playlist_pop" id="playlist_pop">
    <div class="playlist_pop_header">
        <p>save to ...</p>
        <button id="playlist_cancel"><img src="/img\remove-symbol.png" alt="" class="icons"></button>
    </div>
    <hr>
    <div class="playlists">
        <div class="playlist">
            <input type="checkbox" name="" id="">
            <p>watch later</p>
            <img src="/img/padlock-unlock.png" alt="" class="icons" id="playlist_cancel">
        </div>
        <div class="playlist">
            <input type="checkbox" name="" id="">
            <p>arma</p>
            <img src="/img/padlock.png" alt="" class="icons">
        </div>
    </div>
    <div class="create_playlist">
        <img src="\img\plus-black-symbol.png" alt="" class="icons">
        <p>create new playlist</p>
    </div>
</div>
<!-- end playlist popup -->