<!-- start serch pop up -->

<div class="serch_pop_up">
    <div class="sugestions">
        <div class="sugestion">
            <p>medicine in kenyatta</p>
            <button>remove</button>
        </div>
        <div class="sugestion">
            <p>medicine in kenyatta</p>
            <button>remove</button>
        </div>
        <div class="sugestion">
            <p>medicine in kenyatta</p>
            <button>remove</button>
        </div>
        <div class="sugestion">
            <p>medicine in kenyatta</p>
            <button>remove</button>
        </div>
        <div class="sugestion">
            <p>medicine in kenyatta</p>
            <button>remove</button>
        </div>
        <div class="sugestion">
            <p>medicine in kenyatta</p>
            <button>remove</button>
        </div>
    </div>
</div>

<!-- end serch pop up -->