<!-- start setting pop_up -->
<div class="setting_pop_up">
    <div class="account_info">
        <img src="/img/art-2472892__340.webp" alt="">
        <div class="account_data">
            <p class="account_name">myaccount</p>
            <p class="account_email">myaccount@gmail.com</p>
            <a href="" class="account_manage">Manage your google acount</a>
        </div>
    </div>
    <div class="border"></div>
    <div class="channel_setting">
        <div class="channel">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Your channel</a>
        </div>
        <div class="purchases">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Purchases and membership</a>
        </div>
        <div class="studio">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Youtube studio</a>
        </div>
        <div class="switch">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Switch account</a>
            <img src="/img/angle-arrow-pointing-to-right.png" alt="" class="setting_icon setting_arrow"> 
        </div>
        <div class="signout">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Sign out</a>
        </div>
    </div>
    <div class="border"></div>
    <div class="device_setting">
        <div class="appearance">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Appearance: Device theme</a>
            <img src="/img/angle-arrow-pointing-to-right.png" alt="" class="setting_icon setting_arrow"> 
        </div>
        <div class="language">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Language: English</a>
            <img src="/img/angle-arrow-pointing-to-right.png" alt="" class="setting_icon setting_arrow"> 
        </div>
        <div class="location">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Location:Kenya</a>
            <img src="/img/angle-arrow-pointing-to-right.png" alt="" class="setting_icon setting_arrow"> 
        </div>
        <div class="setting">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Setting</a>
            <img src="/img/angle-arrow-pointing-to-right.png" alt="" class="setting_icon setting_arrow"> 
        </div>
        <div class="data">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Your data in Youtube</a> 
        </div>
        <div class="help">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Help</a> 
        </div>
        <div class="feedback">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Send feedback</a> 
        </div>
        <div class="shortcuts">
            <img src="img/envelope.png" alt="" class="setting_icon">
            <a href="" class="seeting_text">Keyboard shortcuts</a> 
        </div>
    </div>
    <div class="border"></div>

</div>

<!-- end setting pop_up -->