<div id="side_menu">
    <div id="side_menu_home">
        <img src="/img/camera-retro.png" alt="">
        <a href="/home" id="home_link">home</a>
    </div>
    <div id="side_menu_trending">
        <img src="/img/camera-retro.png" alt="">
        <a href="/trending" id="trending_link">trending</a>
    </div>
    <div id="side_menu_subscription">
        <img src="/img/camera-retro.png" alt="">
        <a href="/subscription" id="subscriptions_link">subscriptions</a>
    </div>
    <div id="side_menu_library">
        <img src="/img/camera-retro.png" alt="">
        <a href="/library" id="library_link">library</a>
    </div>
</div>