<!-- start side nav -->
<div id="side_nav">
    <section id="side_nav_logo">
        <img src="img/reorder-option.png" alt="" id="side_nav_toggle">
        <div id="side_nav_yt">
            <img src="img/youtube-logo.png" alt="" id="side_nav_img">
            <h2>youtube</h2>
        </div>
    </section>
    <section id="menu">
        <div class="content">
            <img src="img/envelope.png" alt="" class="side_nav_icon">
            <p class="side_nav_text">home</p>
        </div>
        <div class="content">
            <img src="img/fluffy-cloud-silhouette.png" alt="" class="side_nav_icon">
            <p class="side_nav_text">trending</p>
        </div>
        <div class="content">
            <img src="img/gittip-website-logo.png" alt="" class="side_nav_icon">
            <p class="side_nav_text">subscription</p>
        </div>
    </section>
    <section id="playlist">
    <div class="content">
        <img src="img/envelope.png" alt="" class="side_nav_icon">
        <p class="side_nav_text">home</p>
    </div>
    <div class="content">
        <img src="img/fluffy-cloud-silhouette.png" alt="" class="side_nav_icon">
        <p class="side_nav_text">library</p>
    </div>
    <div class="content">
        <img src="img/gittip-website-logo.png" alt="" class="side_nav_icon">
        <p class="side_nav_text">your videos</p>
    </div>
    <div class="content">
        <img src="img/envelope.png" alt="" class="side_nav_icon">
        <p class="side_nav_text">watch later</p>
    </div>
    <div class="content">
        <img src="img/fluffy-cloud-silhouette.png" alt="" class="side_nav_icon">
        <p class="side_nav_text">war machines</p>
    </div>
    <div class="content">
        <img src="img/angle-arrow-down.png" alt="" class="side_nav_icon">
        <p class="side_nav_text">show more</p>
    </div>
    </section>
    <section id="subscription">
        <h3>subscription</h3>
        <div class="content">
            <img src="img/kiKoprGLT.jpg" alt="" class="side_nav_icon side_nav_img">
            <p class="side_nav_text">end of sentence</p>
        </div>
        <div class="content">
            <img src="img/kiKoprGLT.jpg" alt="" class="side_nav_icon side_nav_img">
            <p class="side_nav_text">end of sentence</p>
        </div>
        <div class="content">
            <img src="img/kiKoprGLT.jpg" alt="" class="side_nav_icon side_nav_img">
            <p class="side_nav_text">end of sentence</p>
        </div>
        <div class="content">
            <img src="img/kiKoprGLT.jpg" alt="" class="side_nav_icon side_nav_img">
            <p class="side_nav_text">end of sentence</p>
        </div>
        <div class="content">
            <img src="img/kiKoprGLT.jpg" alt="" class="side_nav_icon side_nav_img">
            <p class="side_nav_text">end of sentence</p>
        </div>
        <div class="content">
            <img src="img/kiKoprGLT.jpg" alt="" class="side_nav_icon side_nav_img">
            <p class="side_nav_text">end of sentence</p>
        </div>
        <div class="content">
            <img src="img/kiKoprGLT.jpg" alt="" class="side_nav_icon side_nav_img">
            <p class="side_nav_text">end of sentence</p>
        </div>
        <div class="content">
            <img src="img/kiKoprGLT.jpg" alt="" class="side_nav_icon side_nav_img">
            <p class="side_nav_text">end of sentence</p>
        </div>
        <div class="content">
            <img src="img/angle-arrow-down.png" alt="" class="side_nav_icon side_nav_img">
            <p class="side_nav_text">show 498 more</p>
        </div>
    </section>
    <section id="more">
        <h3>more from yotube</h3>
        <div class="content">
            <img src="img/earth-globe.png" alt="" class="side_nav_icon">
            <p class="side_nav_text">end of sentence</p>
        </div>
        <div class="content">
            <img src="img/earth-globe.png" alt="" class="side_nav_icon">
            <p class="side_nav_text">end of sentence</p>
        </div>
    </section> 
    <section id="misc">
        <div class="content">
            <img src="img/envelope.png" alt="" class="side_nav_icon">
            <p class="side_nav_text">settings</p>
        </div>
        <div class="content">
            <img src="img/envelope.png" alt="" class="side_nav_icon">
            <p class="side_nav_text">settings</p>
        </div>
        <div class="content">
            <img src="img/envelope.png" alt="" class="side_nav_icon">
            <p class="side_nav_text">settings</p>
        </div>
    </section>
</div>

<!-- end side nav -->