.subscription_main_container{
    display: grid;
    grid-template-columns: 60% 40%;
    width: 80%;
    margin-left: 10vw;
    margin-top: 15vh;
    overflow: hidden;
}

.subscription_content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/* start trending_video */

.subscription_video {
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
}

.subscription_video_duration {
    position: absolute;
    left: 150px;
    top: 90px;
    font-size: 13px;
    background-color: rgb(10, 10, 10);
    z-index: 1;
    text-align: center;
    padding: 3px;
    color: #fff;
}

.subscription_video_thumbnail {
    height: 50%;
}

.subscription_video_title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    /* max-width: 90%; */
    /* max-height: 20%; */
}

.subscription_video_channel {
    margin-top: 5px;
}

.subscription_video_info {
    display: flex;
    margin-top: 5px;
}

.subscription_video_age {
    margin-left: 10px;
}

.subscription_video_descriptipn {
    padding-top: 10px;
}

.subscription_reminder_button button{
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(212, 205, 205);
    color: rgb(61, 61, 61);
    padding: 6px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}


/* end trending_video */