* {
    margin: 0;
    padding: 0;
}

/* body.show_nav {
    transform: translateX(200px);
} */

/* start side nav */

#side_nav {
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 290px;
    z-index: 200;
    /* transition: display 18s ease-in; */
    display: none;
    overflow-y: auto;
}

#side_nav::-webkit-scrollbar {
    
}

#side_nav img {
    width: 20px;
}

.content{
    display: flex;
    padding: 10px 0;

}

.content img {
    margin-left: 35px;
}

.content p {
    padding-left: 40px;
    cursor: pointer;
}

#side_nav_logo {
    display: flex;
    padding-top: 16px;
    padding-bottom: 9px;
    height: 20px;
}

#side_nav_toggle {
    margin-left: 35px;
    height: 20px;
    cursor: pointer;
}

#side_nav_yt{
    display: flex;
    padding-left: 40px;
    text-transform: capitalize;
}

#side_nav_yt h2 {
    font-size: 20px;
    margin-left: 2px;
}

#menu {
    position: relative;
    margin-top: 15px;
    border-top: 0.3px solid  rgb(206, 200, 200);
}


#playlist{
    margin-top: 20px;
    border-top: 0.3px solid  rgb(206, 200, 200); 
}

#subscription {
    border-top: 0.3px solid  rgb(206, 200, 200);
    margin-top: 20px;
}



.side_nav_img {
    border-radius: 50%;
    overflow: hidden;
    /* width: 40px; */
}

#side_nav h3{
    text-transform: uppercase;
    font-size: 15px;
    padding-left: 35px;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* end side nav */

/* start modal */
#modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 190;
    display: none;
}

/* end modal */


/* navbar */
.nav_icons {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#nav {
    position: fixed;
    top: 0;
    width: 95%;
    margin-left: 3vw;
    height: 45px;
    padding-top: 3vh;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}

#nav_right {
    display: flex;
    justify-content: space-between;
    width: 15%;
    /* height: 5vh; */
    text-transform: capitalize;
}

#logo h2{
    font-size: 1.3rem;
}

#logo {
    display: flex;
}

.logo_menu{
    height: 20px;
}

#nav_center{
    display: flex;
    justify-content: space-between;
    /* width: 46%; */
    width: 450px;
    /* height: 5vh; */
}

#search input{
    padding: 0;
    /* transform: translateY(-1.3vh); */
    height: 23px;
    width: 350px;
    margin: 0;
    text-transform: capitalize;
    outline: none;
}

#search button {
    width: 55px;
    height: 25px;
    transform: translateX(-.9vh);
    /* padding: 5px; */
}

#search img{
    width: 12px;
    height: 12px;

}

#nav_left {
    width: 25%;
    display: flex;
    height: 6vh;
    justify-content: space-between;
}




#user_icon {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid black;
    overflow: hidden;
    cursor: pointer;
}

#user_icon img{
    width: 100%;
    height: 100%;
}

.screen {
    width: 30%;
}

/* end navbar */

/* start side menu */

#side_menu {
    position: fixed;
    top: 17vh;
    left: 2.3vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
    width: 6.5vw;
    font-size: 0.8rem;
    /* background-color: black; */
    /* margin-left: 1vw; */
}


#side_menu img{
    width: 20px;
    transform: translateX(0.5vw);
}

#side_menu a{
    text-transform: capitalize;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: black;
}

#side_menu_subscription a{
    transform: translateX(-1.8vw);
}

/* end side menu */


/* start main container */
#main_container {
    width: 85%;
    margin-left: 100px;
    /* margin-top: 75px; */
    background-color: rgb(247, 241, 241);
}

#corousel_container {
    position: fixed;
    width: 85%;
    border-top: 0.3px solid rgb(206, 200, 200);
    border-bottom: 1px solid rgb(206, 200, 200) ;
    background-color: #fff;
    top: 55px;
    /* height: 53px; */
    z-index: 10;
    /* overflow-x: scroll; */
}

#arrows {
    position: relative;
    /* top: 50px; */
    z-index: 20;
}

#corousel {
    display: flex;
    /* justify-content: space-between; */
    min-width: 90%;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin: 0%;
    overflow-x: auto;
}

#corousel::-webkit-scrollbar {
    /* width: 0px; */
    display: none;
}

#corousel p {
    min-width: 100px;
    margin-left: 20px;
    border-radius: 30px;
    height: 20px;
    background-color: rgb(240, 234, 234);
    text-align: center;
    padding: 1vh 1vw;
    font-size: 0.9rem;
    cursor: pointer;
}

#corousel .first_tag {
    color: #fff;
    min-width: 100px;
    margin-left: 20px;
    border-radius: 30px;
    height: 20px;
    text-align: center;
    padding: 1vh 1vw;
    font-size: 0.9rem;
    cursor: pointer;
    background-color: rgb(105, 105, 105);
}


.arrow{
    width: 15px;
    cursor: pointer;
}

.arrow_right{
    position: fixed;
    right: 60px;
    top: 72px;
    z-index: 10;
}
.arrow_left{
    position: fixed;
    left: 80px;
    top: 72px;
    z-index: 10;
    /* display: none; */
}

#home_page_video_container {
    margin-top: 130px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 30px;
}

/* end main container */



/*start homepage video */

.video_content {
    width: 25vw;
    
}

#thumbnail {
    width: 25vw;
    height: 40vh;  
}

.video_length {
    width: 3.5vw;
    font-size: 0.8rem;
    position: relative;
    top: -5vh;
    left: 20.8vw;
    background-color: rgb(10, 10, 10);
    z-index: 1;
    text-align: center;
    padding: 0.3vh;
    color: #fff;
}

#video_content_text {
    display: grid;
    grid-template-columns: 15% 70%;
    grid-template-rows: repeat(2,1fr);
    gap: 0.6vw;
    /* row-gap: 5vh;   */
}

#channel_photo {
    width: 3vw;
    height: 6vh;
    border-radius: 100%;
    border: 1px solid black;
    overflow: hidden;
}

#channel_photo img {
    width: 100%;
    height: 100%;
}


#video_title {
    
}

.title_btn {
    font-weight: 600;
    font-size: 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    /* text-align: right; */
}
.verified_icon {
    width: 1vw;
    margin-left: 0.1vw;
}


#channel_name {
    font-size: 1rem;
    text-transform: capitalize;
}

/* 
#dot {
    transform: translateY(vh);
    background-color: black;
} */

/*end homepage video */


/* start setting pop up */

.setting_pop_up {
    position: fixed;
    top: 0;
    right: 60px;
    background-color: #fff;
    z-index: 5000;
    width: 300px;
    height: 100vh;
    display: none;
    overflow-y: auto;
}

.account_info {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
}

.account_info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    
}

.account_data {
    margin-left: 20px;
    margin-bottom: 20px;
}

.account_name {
    font-weight: bold;
}

.account_email {
    margin-top: 5px;
    margin-bottom: 10px;
}

.account_manage {
    text-decoration: none;
}

.border {
    border-bottom: 1px solid rgb(139, 136, 136);
    margin-top: 5px;
}

.channel_setting {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.channel_setting > * {
    margin-top: 15px;
}

.channel_setting a{
    text-decoration: none;
    color: black;
}


.channel{

}

.setting_icon {
    width: 15px;
    /* height: 15px; */
    transform: translateY(4px);

}

.setting_right {
    margin-left: auto;
    transform: translateX(200px);
}

.seeting_text {
    margin-left: 10px;
    font-size: 15px;
}

.device_setting {
    margin-left: 20px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.device_setting > * {
    margin-top: 15px;
}

.device_setting a{
    text-decoration: none;
    color: black;
}


/* end setting pop up */


/* start notification pop up */

.notification_pop_up {
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    top: 0;
    right: 140px;
    width: 450px;
    z-index: 5000;
    background-color: #fff;
    display: none;
}

.notification_setting {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
}

.notification_setting p {
    font-weight: 600;
    text-transform: capitalize;
    /* color: rgb(29, 29, 29); */
    font-size: 17px;
}

.notification_setting img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.notifications{

}

.notification{
    /* margin-left: 15px; */
    position: relative;
    display: flex;
    margin-top: 5px;
    padding-top: 10px;
}

.notification::before {
    content: "";
    background-color: blue;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin-top: 18px;
    margin-right: 10px;
    margin-left: 10px;
}

.notification:hover {
    background-color: rgb(177, 168, 168);
}

.notification:hover .notification_icon img{
    display: block;
} 

.notification_profile img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.notification_title{
    width: 220px;
    margin-left: 20px;
    margin-right: 20px;
}

.notification_title .second{
    margin: 10px 0px;
    color: rgb(32, 32, 32);
}

.notification_thumbnail img {
    width: 80px;
    height: 40px;
}

.notification_icon img {
    display: none;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.noticication_setup {
    background-color: #fff;
    position: absolute;
    right: 10px;
    top: 40px;
    border-radius: 3px;
    padding: 15px;
    z-index: 10000;
    display: none;
}

.noticication_setup p {
    font-size: 15px;
    cursor: pointer;
}

.hide {
    display: flex;
}

.hide img {
    width: 20px;
    height: 20px;
}

.hide p {
    margin-left: 10px;
}

.off {
    margin-top: 15px;
}

.off p {
    margin-left: 20px;
    padding-left: 7px;
}

/* end notification pop up */

/* start serch pop up */

.serch_pop_up {
    display: none;
    position: fixed;
    top: 45px;
    left: 268px;
    background-color: #fff;
    width: 350px;
    z-index: 10000;
    border-left: 3px solid #dfdfde;
    border-right: 3px solid #dfdfde;
    border-bottom: 3px solid #dfdfde;
}

.sugestions {
    margin-top: 15px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 90%;
}

.sugestion {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sugestion p {
    font-size: 12px;
    font-weight: 600;
    
}

.sugestion button {
    background: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    color: #647494;
    cursor: pointer;
}

/* end serch pop up */


/* MEDIA QUERIES */
@media screen and (max-width: 576px){
    body {
        max-width: 100vw;
    }
    #logo {
        display: none;
    }
    #nav {
        /* position: fixed; */
        top: 0;
        left: 0;
        padding-top: 10px;
        max-width: 100%;
        margin-left: 0;
        display: flex;
        justify-content: space-around;
        align-content: center;
    }
    .logo_menu  {
        padding-left: 5px;
    }
    #nav_center {
        margin-left: 50px;
    }
    #nav_center .mic{
        display: none;
    }
    #nav_left {
        display: none;
    }
    #search input{
        width: 70%;
    }
    #arrows {
        display: none;
    }
    #corousel_container {
        display: none;
    }
    #side_menu {
        display: none;
    }
    #main_container {
        margin-left: 20px;
        width: 100%;
    }
    #empty {
        display: none;
    }
    #home_page_video_container {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        row-gap: 30px;
        gap: 10px;
    }
    #thumbnail {
        width: 130px;
        height: 130px;
    }
    .video_length {
        width: 35px;
        font-size: 0.8rem;
        position: relative;
        top: -30px;
        left: 84px;
        background-color: rgb(10, 10, 10);
        z-index: 1;
        text-align: center;
        padding: 0.3vh;
        color: #fff;
    }
    .video_content {
        width: 100%;
    }
    #channel_photo {
        width: 30px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid black;
        overflow: hidden;
    }
    #video_content_text {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 60px 60px;
    }

    #whitespace {
        display: none;
    }

    #video_title {
        display: block;
        /* margin-left: 25px; */
        /* height: 25px; */
    }

    #video_title {
        display: inline-block;
    }
    #channel_info {
        font-size: 15px;
        width: 90%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #channel_name .verified_icon {
        width: 10px;
        height: 10px;
    }
    .channel_stat {
        margin-top: 6px;
    }
}

@media screen and (min-width: 576px) && (max-width: 726px){ 
    #nav_left {
        display: block;
    }
    #nav_center {
        width: 300px;
    }
    #logo {
        margin-left: 10px;
    }
    #logo h2 {
        font-size: 0.9rem;
    }
    .logo_menu {
        height: 15px;
    }
    .nav_icons {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }
    #search input {
        width: 200px;
    }
    #nav_left {
        width: 25%;
        display: flex;
        height: 6vh;
        justify-content: space-between;
    }


    #arrows {
        display: none;
    }
    #corousel_container {
        display: none;
    }
    #side_menu {
        display: none;
    }
    #main_container {
        margin-left: 20px;
        width: 100%;
    }
    #empty {
        display: none;
    }
    #home_page_video_container {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        row-gap: 30px;
        gap: 10px;
    }
    #thumbnail {
        width: 130px;
        height: 130px;
    }
    .video_length {
        width: 35px;
        font-size: 0.8rem;
        position: relative;
        top: -30px;
        left: 84px;
        background-color: rgb(10, 10, 10);
        z-index: 1;
        text-align: center;
        padding: 0.3vh;
        color: #fff;
    }
    .video_content {
        width: 100%;
    }
    #channel_photo {
        width: 30px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid black;
        overflow: hidden;
    }
    #video_content_text {
        display: grid;
        grid-template-columns: 20% 80%;
        grid-template-rows: 60px 60px;
    }

    #whitespace {
        display: none;
    }

    #video_title {
        display: block;
        /* margin-left: 25px; */
        /* height: 25px; */
    }

    #video_title {
        display: inline-block;
    }
    #channel_info {
        font-size: 15px;
        width: 90%;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    #channel_name .verified_icon {
        width: 10px;
        height: 10px;
    }
    .channel_stat {
        margin-top: 6px;
    }

}

@media screen and (min-width: 726px ){ 

}

@media screen and (min-width: 1024px ){ 

}