.body{
    background-color: rgb(247, 241, 241);
}

.subscription_main_container{
    width: 80%;
    margin-left: 10vw;
    margin-top: 15vh;
    overflow: hidden;
}


.subscription_manager{
    display: flex;
}

.subscription_today {
    font-size: 15px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
}

.subscription_icons{
    width: 140px;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
}

.subscription_icons p{
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(1, 1, 61);
    cursor: pointer;
}

.subscription_icon {
    width: 15px;
    height: 15px;
    cursor: pointer;
}



.subscription_content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

/* start trending_video */

.subscription_video {
    width: 90%;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    position: relative;
}

.subscription_video_duration {
    position: absolute;
    left: 150px;
    top: 90px;
    font-size: 13px;
    background-color: rgb(10, 10, 10);
    z-index: 1;
    text-align: center;
    padding: 3px;
    color: #fff;
}

.subscription_video_thumbnail {
    height: 50%;
}

.subscription_video_title {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 15px;
    /* max-width: 90%; */
    /* max-height: 20%; */
}

.subscription_video_channel {
    margin-top: 5px;
}

.subscription_video_info {
    display: flex;
    margin-top: 5px;
}

.subscription_video_age {
    margin-left: 10px;
}

.subscription_video_descriptipn {
    padding-top: 10px;
}

.subscription_reminder_button button{
    margin-top: 10px;
    border: none;
    outline: none;
    background-color: rgb(212, 205, 205);
    color: rgb(61, 61, 61);
    padding: 6px;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}


/* end trending_video */

/* MEDIA QUERIES */
@media screen and (min-width: 576px){
    .subscription_main_container {
        width: 80%;
        margin-left: 20px;
        margin-top: 70px; 
    }
    .subscription_content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .subscription_video_duration {
        position: absolute;
        left: 150px;
        top: 90px;
        font-size: 13px;
        background-color: rgb(10, 10, 10);
        z-index: 1;
        text-align: center;
        padding: 3px;
        color: #fff;
    }
}

/* @media screen and (min-width: 576px){
    .subscription_content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .subscription_video_duration {
        position: absolute;
        left: 50px;
        top: 90px;
    }
} */